name: Node.js CI

defaults:
  run:
    working-directory: /week1

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
      with:
        path: week1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Check if lock file exists
      run: test -f package-lock.json
    - name: Install dependencies and run tests
      run: |
        npm cd week1
        npm ci
        npm run build --if-present
        npm test
